/*##################################################################*/
/*Configurações Globais*/
/*##################################################################*/
html{
    cursor: url('img/UI/Cursor.png'),auto;
    margin:0px;
    height: 100%;
}

body{
    margin: 0px;
    height: 100%;
}

/*##################################################################*/
/*Configuracao do topo das divs*/
/*##################################################################*/
/*Afeta a bolinha azul que fica em cima da barra de maneira geral*/
#SimpleButton{
    position:absolute;
    margin: 4px 0px 0px 4px;
}

/*Barra azul da div onde fica o personagem*/
#BarraPersonagem{
    height: 17px;
    width: 202px;
    display: flex; /*O display flex faz com que a borda da caixa encoste no topo da box*/
}

/*Barra azul da div onde fica o grafico*/
#BarraGrafico{
    width: 402px;
    height: 17px;
    margin: 0px;
    padding: 0px;
    display: flex;
}

/*Div que une a caixa do personagem e a caixa do grafico para ficarem na mesma linha*/
#BoxDeCima{
    display:inline-flex;
}

/*##################################################################*/
/*Configuracao da caixa onde fica o personagem*/
/*##################################################################*/
#AvatarBox{
    display: inline-block;
    padding-right: 10px;
}

#AvatarClass{
    font-family: arial;
    position: absolute; 
    font-size: 12px;
    display: grid;
    grid-template-columns: auto auto;
    margin: 0px;
    padding: 0px;
    top: 12px;
    left: 8px;
    line-height: 0px;
}

/*Configuracao do nome e classe dentro da caixa do personagem*/
#NomePersonagem{
    color: #2a3a51;
    font-weight: bold;
}

#ClassTexto{
    color: #2a3a51;
    font-weight: bold;
}

#PersonagemBox{
    border: 1px solid #c5c6c8;
    border-radius: 3px;
    border-top: none;
}

/*Configuracões das setas que deixam ela em formato especifico*/
#SetaEsquerda{
    position: absolute;
    border: solid black;
    border-width: 0px 3px 3px 0px;
    display:inline-block;
    padding:3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    top: 250px;
    left: 40px
}

#SetaDireita{
    position: absolute;
    border: solid black;
    border-width: 0px 3px 3px 0px;
    display:inline-block;
    padding:3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    top: 250px;
    left: 170px
}

/*##################################################################*/
/*Configurações da div onde fica o gráfico*/
/*##################################################################*/
#StatusImagem{
    display: inline-block;
    padding-right: 5px;
}

#Grafico{
    width: 400px;
    height: 250px;
    margin: 0px;
    padding: 0px;
    border: 1px solid #c5c6c8;
    border-radius: 3px;
    border-top: none;
}

/*##################################################################*/
/*Configurações da div dos status*/
/*##################################################################*/

#Status{
    width: 614px;
    height: 240px;
    position:absolute;
    float: left;
    border: 1px solid #c5c6c8;
    border-radius: 3px;
    border-top: none;
    font-size: 14px;
    font-family: arial;
}

#BarraStatus{
    width: 615px;
    height: 17px;
    display: flex;
}

#GridStatus{
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto;
}

#StatusBase{
    display: grid;
    grid-template-columns: auto auto;
}

#nomeStatus {
    color: #2a3a51;
    font-weight: bold;
}

#nomeStatus p{
    border: 1px solid white;
}

#valorStatus {
    margin-left: 40px;
    margin-right: 15px;
}

#valorStatus p{
    border: 1px solid #c5c6c8;
    color:#7c7c7c;
    padding-left: 80px;
}

#devEmTStatus{
    display: grid;
    grid-template-columns: auto auto;
}
#GuildText{
    margin-top:0px;
    font-weight: bold;
    color:#2a3a51;
    text-align: center;
}
#GuildAnswer{
    margin-top:0px;
    color: #6b6b6b;
}

/*##################################################################*/
/*Configuração da tela de habilidades*/
/*##################################################################*/

#Skills{
    display: inline-block;
    position: absolute;
}

#Skills li{
    list-style-type:none;
}

#BarraDeSkill{
    width: 600px;
    height: 17px;
    display:flex;
}

#ContainerSkill{
    margin: 0px;
    width: auto;
    height: 495px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    border: 1px solid #c5c6c8;
    border-radius: 3px;
    border-top: 0px;
    padding: px;
}

.skillBox{
    text-align: center;
    position: relative;
}

#TituloSkill{
    font-family:Arial;
    font-size:11px;
    line-height: 14px;
    margin: 0px;
    color: #7c7c7c;
}

.iconeSkill{
    width: 36px;
    height: 36px;
}

.ValorSkill{
    font-family: arial;
    font-size: 11px;
    color: #7c7c7c;
    line-height: 0px;
    margin:3px;
}


/*##################################################################*/
/*Div da skills*/
/*##################################################################*/

.descricaoPython{
    position: relative;
    top: 50%;
    left: 50%;
    z-index: 1;
    margin: 0px;
    width: 250px;
    height: auto;
    position: absolute;
    border-radius: 5px;
    border: 1px solid #c5c6c8;
    background-color: white;
    visibility: hidden;
    opacity: 0;
}
.descricaoPython p{
    font-family: arial;
    text-align: left;
    font-size: 12px;
    color: black;
    margin: 5px;
}

.hoverPython{
    display:contents;
}
.hoverPython:hover .descricaoPython{
    visibility: visible;
    opacity: 1;
}


.EmptySkill img{
    width: 36px;
    height: 36px;
}

#poring{
    position:absolute;
    display:block;
    right:0px;
    bottom:0px;
}